@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/css/open-sans.woff) format('woff');
}
@font-face {
  font-family: 'source-code-pro';
  font-style: normal;
  font-weight: 400;
  src: local('source-code-pro'), local('Source Code Pro'), local('SourceCodePro-Regular'), url(/css/source-code.woff) format('woff');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(/css/vt323.woff) format('woff');
}
