#menuBar {
  height: 42px;
  
  .pull-left {
    img {
      width: 32px;
      margin: 5px 10px 0 10px;
      display: block;
      float: left;
    }
    
    span {
      display: block;
      float: left;
      
      &.nfont {
        font-size: 32px;
        margin-top: -4px;
      }
      
      &.version {
        font-size: 12px;
        margin: 16px 0 0 10px;
      }
    }
  }
  
  #messages {
    margin: 11px 0 0 20px;
    white-space: nowrap;
    
    > div {
      float: left;
      
      &:after {
        padding: 0 8px;
        content: "\22C5";
      }
      
      &:last-child:after {
        padding: 0 0;
        content: "";
      }
      
      &:before {
        font-family: FontAwesome;
        padding: 0 5px 0 0;
      }
      
      &.info:before {
        content: "\f05a";
      }
      
      &.error:before {
        content: "\f188";
      }
    }
  }
}

#no-editor {
  text-align: center;
  
  .nfont {
    font-size: 32px;
    margin: 40px 0 20px 0;
  }
  
  img {
    width: 128px;
  }
}

#appWrapper {
  height: ~"calc(100% - 43px)";
  position: relative;
}

.errorModal {
  i {
    display: block;
    text-align: center;
    font-size: 48px;
  }
}

#leftSide {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  vertical-align: top;
  
  > div {
    height: 100%;
    width: 100%;
  }
  
  .menu {
    padding: 2px 0 0 0;
    height: 29px;
    
    .btn {
      padding: 3px 9px;
      font-size: 12px;
    }
  }
  
  #projects {
    height: ~'calc(100% - 28px)';
    width: 100%;
    overflow: auto;
    
    ul {
      margin: 0 0 0 20px;
      padding: 0;
      list-style-type: none;
      
      &.project {
        margin: 0 0 5px 0;
        padding: 0 0 5px 5px;
      }
      
      li {
        margin: 0 2px 0 0;
        padding: 0;
        
        white-space: nowrap;
        
        a {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

#mainApp {
  position: absolute;
  left: 300px;
  top: 0;
  height: 100%;
  width: ~"calc(100% - 300px)";
  vertical-align: top;
  
  > div {
    height: 100%;
    width: 100%;
  }
}

#tabs {
  height: 29px;
  width: 100%;
  position: relative;
  
  #tab-list {
    position: absolute;
    height: 100%;
    width: 27px;
    right: 0;
    
    .btn-group {
      height: 100%;
    }
    
    button {
      height: 100%;
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }
    
    ul {
      left: auto;
      right: 2px;
      top: 22px;
    }
  }
  
  .tab-scroll {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: ~"calc(100% - 27px)";
    height: 29px;
  }
  
  .tab {
    position: absolute;
    bottom: 1px;
    height: 26px;
    width: 120px;
    overflow: hidden;
    border-top-right-radius: 30px 60px;
    border-top-left-radius: 30px 60px;
    padding: 2px 8px 1px 8px;
    
    &.selected {
      bottom: 0;
      z-index: 100;
    }
    
    &.unsaved .name:before {
      position: absolute;
      content: "*";
      font-size: 90%;
      margin: -2px 0 0 -5px;
    }
    
    > div {
      position: relative;
      
      > div:first-child {
        width: 92px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 13px;
        position: absolute;
        top: 2px;
        left: 0;
        white-space: nowrap;
        padding-left: 5px;
      }
      
      > div:last-child {
        font-weight: bold;
        font-size: 17px;
        position: absolute;
        top: -1px;
        right: 0;
      }
    }
  }
}

#editor {
  height: ~"calc(100% - 30px)";
  width: 100%;
  font-size: 16px;
}