<div ng-controller="MainCtrl" ng-click="hide_right();">
  <div id="tabs">
    <div id="tab-list">
      <div class="btn-group">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="tab in tabs"><a ng-click="switch_tab($index)" class="clickme">{{ tab.name }}</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-scroll">
      <div ng-class="{selected: $index == current_tab, unsaved: tab.md5sum != tab.saved_md5sum}" class="tab clickme" ng-repeat="tab in tabs" data-pid="{{ tab.id }}" data-type="{{ tab.pid() }}" style="left: {{ tab.position($index) }}px">
        <div>
          <div title="{{ tab.path }}" tab-drag ng-mousedown="switch_tab($index, true)" class="name">{{ tab.name }}</div>
          <div ng-click="remove_tab($index)">&times;</div>
        </div>
      </div>
    </div>
  </div>
  <div id="editor" ng-show="tabs.length > 0"></div>
  <div id="no-editor" ng-show="tabs.length == 0">
    <h3 class="nfont">Welcome to Super Neutron Drive</h3>
    <img src="/img/logo-256.png" alt="">
    <div id="recentFiles" ng-show="recent_files.length">
      <h4>Recent Files</h4>
      <ul>
        <li ng-repeat="file in recent_files track by $index">
          <a class="clickme btn" ng-click="open_recent($index)">
            <i class="fa fa-file-o"></i>{{ file.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>