<div class="pull-left">
  <img src="/img/logo-64.png" alt="">
  <span class="nfont">Super Neutron Drive</span>
  <span class="version">V{{ manifest.version }}</span>
</div>
<div class="pull-left" id="messages">
  <div ng-repeat="(id, m) in messages" id="message-{{ m.id }}" class="{{ m.mtype }}">{{ m.text }}</div>
  <div class="info update clickme" ng-if="update" ng-click="do_update('yes')">Click to Update to V{{ update.version }}</div>
</div>
<div class="pull-right" id="buttons">
  <div id="quick-search">
    <input type="text" placeholder="Quick Search" class="form-control" ng-model="form.qsearch" ui-keydown="{13: 'quick_search($event)', 9: 'focus_editor($event)'}">
  </div>
  <div class="btn-group">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="clickme" ng-click="send_event('keyboard-save')"><i class="fa fa-download"></i> Save</a></li>
        <li><a class="clickme" ng-click="send_event('keyboard-save-all')"><i class="fa fa-paw"></i> Save All</a></li>
        <li class="divider"></li>
        <li><a class="clickme" ng-click="send_event('keyboard-close-tab')"><i class="fa fa-times"></i> Close</a></li>
        <li><a class="clickme" ng-click="send_event('keyboard-close-tabs-all')"><i class="fa fa-bomb"></i> Close All</a></li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
          <a>Recent Files</a>
          <ul class="dropdown-menu">
            <li ng-repeat="file in recent_files track by $index"><a class="clickme" ng-click="open_recent($index)">{{ file.name }}</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li>
          <a class="clickme" ng-click="nbeams_modal()"><i class="fa fa-cloud"></i> Neutron Beams</a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="clickme" ng-click="check_update()"><i class="fa fa-arrow-circle-up"></i> Check for Update</a>
        </li>
        <li ng-if="!neutron_account.token">
          <a class="clickme" ng-click="login()"><i class="fa fa-caret-square-o-right"></i> Login</a>
        </li>
        <li ng-if="neutron_account.token">
          <a class="clickme" ng-click="logout()"><i class="fa fa-caret-square-o-left"></i> Logout</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn" ng-click="pref_modal()"><i class="fa fa-cog"></i></button>
    <button type="button" class="btn" ng-click="help_modal()"><i class="fa fa-question"></i></button>
    <button type="button" class="btn" ng-click="donate_modal()"><i class="fa fa-rebel"></i></button>
  </div>
</div>
<div class="clearfix"></div>