<div ng-controller="SideCtrl" id="SideCtrl" ng-click="hide_right();">
  <div class="menu">
    <div class="buttons">
      <button ng-show="current_tool == 'projects'" class="btn" ng-click="project_modal()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="tools">
      <ul>
        <li ng-class="{active: current_tool == 'projects'}" ng-click="current_tool = 'projects'">
          <span>Projects</span>
        </li>
        <li id="searchToolTab" ng-class="{active: current_tool == 'search'}" ng-click="current_tool = 'search'">
          <span>Search</span>
        </li>
      </ul>
    </div>
  </div>
  <div id="projects" class="side-tool" ng-show="current_tool == 'projects'">
    <div>
      <ul ng-repeat="project in projects" class="project {{ project.state }}" data-pid="{{ project.pid }}" data-type="{{ project.className() }}">
        <li>
          <a class="clickme rm" ng-click="remove_project(project)">&times;</a>
          <a class="psort" project-drag><i class="fa fa-sort"></i></a>
          <a class="prj" ng-click="project.list_dir()" right-click="project.right_menu('dir', project, $event)">
            <span class="fa-stack">
              <i ng-if="project.outline" class="fa fa-square-o fa-stack-2x" ng-class="{'fa-spin': project.working}"></i>
              <i class="fa {{ project.cls }} fa-stack-1x" ng-class="{'fa-spin': project.working}"></i>
            </span>&nbsp;{{ project.name }}
          </a>
          <ul>
            <li class="dir" ng-repeat="entry in project.dirs" ng-include="'side-dirlisting.html'"></li>
            <li class="file" ng-repeat="file in project.files">
              <ng-include src="'side-file.html'"></ng-include>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="search-tools" class="side-tool" ng-show="current_tool == 'search'">
    <div ng-controller="SearchCtrl">
      <ng-include src="'side-search.html'"></ng-include>
    </div>
  </div>
</div>
