{% extends "base.html" %}{% load static %}
{% block title %}Neutron Beam Setup{% endblock %}
{% block content %}
<div id="HelpPage">
  <div layout="horizontal" layout-align="center">
    <md-card class="page">
      <h2>Neutron Beam Setup</h2>
      Before you install Neutron Beam on your server, add a project and get 
      your API Key. This is needed for your server installation.
      <hr>
      <h3>Ubuntu/Debian</h3>
      <pre>
#Required Software
sudo -i
apt-get install build-essential python-dev libssl-dev libffi-dev
curl https://bootstrap.pypa.io/get-pip.py | python
pip install neutron-beam
exit

# Start Neutron Beam
nbeam start

# Enter your code directory
# Enter your username
# Enter your API Key

# Input your Server Address and Port to Neutron Drive
# If you have a firewall make sure the port is open to your browser's IP.

# Optional: Start Neutron Beam on boot
(crontab -l; echo @reboot `which nbeam` start) | uniq - | crontab -
      </pre>
      <hr>
      <h3>Redhat/Cent OS/Other Redhat Based Distros</h3>
      <pre>
#Required Software
su
yum install python-setuptools gcc python-devel openssl-devel libffi-devel
curl https://bootstrap.pypa.io/get-pip.py | python
pip install six>=1.4.1 --upgrade
pip install neutron-beam
exit

# Start Neutron Beam
nbeam start

# Enter your code directory
# Enter your username
# Enter your API Key

# Input your Server Address and Port to Neutron Drive
# If you have a firewall make sure the port is open to your browser's IP.

# Optional: Start Neutron Beam on boot
(crontab -l; echo @reboot `which nbeam` start) | uniq - | crontab -
      </pre>
      <hr>
      <h3>Mac OS X</h3>
      <pre>
#Required Software
sudo -i
curl https://bootstrap.pypa.io/get-pip.py | python
exit

brew install openssl libffi pkg-config
export PKG_CONFIG_PATH=/usr/local/Cellar/libffi/3.0.13/lib/pkgconfig/
env ARCHFLAGS="-arch x86_64" LDFLAGS="-L/usr/local/opt/openssl/lib" CFLAGS="-I/usr/local/opt/openssl/include" pip install cryptography==0.6.1 --user
pip install neutron-beam --user

# Add to your ~/.bash_profile:
# export PATH=$PATH:/Users/paul/Library/Python/2.7/bin
# restart your shell

# Start Neutron Beam
nbeam start

# Enter your code directory
# Enter your username
# Enter your API Key

# Input your Server Address and Port to Neutron Drive
# If you have a firewall make sure the port is open to your browser's IP.
      </pre>
    </md-card>
    {% include "pages/help-side.html" %}
  </div>
</div>
{% endblock content %}