{% extends "base.html" %}{% load static %}
{% block title %}Help{% endblock %}
{% block content %}
<div id="HelpPage">
  <div layout="horizontal" layout-align="center">
    <md-card class="page">
      <h2>Frequently Asked Questions</h2>
      <p>
        <strong>Neutron Drive is awesome! How can I shower the developers with money?</strong>
        Send us a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AZHVCYTBC6NH4">donation</a> whenever you get a chance.
      </p>
      <hr>
      <p>
        <strong>What do I need an account for?</strong>
        An account is needed if you wish to use Neutron Beam encryption. In 
        order to keep Neutron Beams secure, encryption keys are rotated at 
        regular intervals. The setup process for these keys uses your account 
        and Neuton Drive servers. Also if you wish to receive the Neutron Drive 
        newsletter, sign up for an account.
      </p>
      <hr>
      <p>
        <strong>What is Neutron Beam?</strong>
        Neutron Beam is a small web service which lets you edit files remotely 
        over a network in Neutron Drive. Neutron Beam is ideal for editing 
        files on cloud servers or other locally networked devices. To use 
        Neutron Beam, see the <a href="/help/neutron-beam-setup">Neutron Beam setup</a> 
        page.
      </p>
      <hr>
      <p>
        <strong>"The cross platform code editor built for the cloud", What the heck does that mean?</strong>
        In addition to local file editing, Neutron Drive supports editing files 
        from Google Drive or remotely with Neutron Beam. Also because Neutron 
        Drive is built on the Google Chrome Platform, all your editor preferences 
        are synced wherever you go.
      </p>
    </md-card>
    {% include "pages/help-side.html" %}
  </div>
</div>
{% endblock content %}