body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  background-color: #f6f6f6;
  color: #333333;
}
a {
  text-decoration: none;
  color: #4285f4;
}
a:hover {
  text-decoration: underline;
}
.clickme {
  cursor: pointer;
}
.clearfix {
  clear: both;
}
hr {
  border: 0;
  border-bottom: 1px solid #999999;
  margin: 30px 0;
}
md-toolbar {
  background-color: #00c4a3;
}
md-toolbar .site-name {
  font-family: 'VT323', cursive;
  font-size: 2.3rem;
}
md-toolbar .site-name:nth-child(2) {
  padding-bottom: 5px;
}
md-toolbar .site-name img {
  width: 48px;
  display: block;
}
md-toolbar .menu ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
md-toolbar .menu ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  font-weight: bold;
  font-size: 85%;
}
md-toolbar .menu ul li.mobile {
  display: none;
  cursor: pointer;
}
md-toolbar .menu ul li:last-child:after {
  content: "";
  padding: 0 0 0 0;
}
md-toolbar .menu ul li:after {
  content: "\2E31";
  padding: 0 0 0 10px;
}
md-card {
  background-color: #ffffff;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}
md-card > h2,
md-card h3 {
  margin: 0 0 20px 0;
}
md-card form .inputs {
  font-size: 130%;
}
md-card form .form-error {
  margin: 10px 0;
  color: #dd1144;
  text-align: center;
}
md-card form .error {
  font-size: 65%;
  font-style: italic;
  color: #dd1144;
  display: block;
  margin-top: -5px;
}
md-card form .submit {
  margin-top: 30px;
}
md-card form label sup {
  padding-left: 5px;
}
md-card form input {
  width: 80%;
}
md-card form input.hidden {
  display: none;
}
md-card.full {
  max-width: 1170px;
}
md-card.page {
  max-width: 840px;
  padding: 30px;
}
md-card.side {
  width: 320px;
  max-width: 320px;
}
md-input-group.md-input-focused input,
md-input-group.md-input-focused textarea,
.md-input-group.md-input-focused input,
.md-input-group.md-input-focused textarea {
  border-color: #4285f4;
}
md-input-group.md-input-focused label,
.md-input-group.md-input-focused label {
  color: #4285f4;
}
md-button.highlight {
  color: #4285f4;
}
md-dialog.enlarge {
  height: 90%;
  max-height: 90%;
  max-width: 90%;
}
md-dialog.enlarge h3 {
  font-size: 1.5rem;
  margin: 0 0 1.0rem 0;
}
md-dialog.enlarge .dialog-content {
  height: calc(100% - 60px);
}
md-dialog.enlarge img {
  height: calc(100% - 3.0rem);
  display: block;
}
pre {
  border: 1px solid #999999;
  padding: 20px;
  font-size: 90%;
  border-radius: 10px;
}
.buttons md-button {
  margin-left: 10px;
}
.buttons md-button:first-child {
  margin-left: 0;
}
.buttons md-button.extra {
  margin-left: 20px;
}
#HomePage > div {
  flex-wrap: wrap;
}
#HomePage md-card.full img.main {
  display: block;
  float: right;
  width: 50%;
  margin: 0 0 20px 20px;
  border: 1px solid #999999;
}
#HomePage md-card.full img.mobile {
  display: none;
  width: 100%;
  margin: 0 0 20px 0;
  border: 1px solid #999999;
}
#HomePage md-card.full a.chrome {
  display: block;
  text-align: center;
  text-decoration: none;
}
#HomePage md-card.full a.chrome img {
  width: 300px;
}
#HomePage md-card.full h2 {
  font-size: 1.8rem;
}
#HomePage md-card.full h3 {
  font-weight: normal;
}
#HomePage md-card.full ul.features {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#HomePage md-card.full ul.features li {
  margin: 0 0 15px 20px;
  padding: 0;
}
#HomePage md-card.full ul.features li:before {
  content: "\27A4";
  padding: 0 10px 0 0;
}
#HomePage .ss .flexer {
  flex-wrap: wrap;
}
#HomePage .ss .flexer > div {
  margin: 0 20px 30px 20px;
}
#HomePage .ss .flexer img {
  border: 1px solid #999999;
}
#HomePage .ss .flexer h3 {
  font-weight: bold;
  margin-bottom: 8px;
}
#HomePage .langs h4 {
  margin: 20px 0 10px 0;
}
#HomePage .langs .emodes > div {
  border-bottom: 1px solid #999999;
  padding: 0 0 20px 0;
}
#HomePage .langs .emodes > div:last-child {
  border-bottom: 0;
}
#HomePage .langs .emodes > div .flexer {
  flex-wrap: wrap;
  margin-left: 20px;
}
#HomePage .langs .emodes > div .wrap {
  font-size: 90%;
  margin: 0 20px 10px 0;
  max-width: 150px;
  width: 130px;
}
#HelpPage > div {
  max-width: 100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
#HelpPage .page > p strong {
  display: block;
  margin: 0 0 10px 0;
}
#HelpPage .side ul {
  margin: 0;
  padding: 0 0 0 30px;
}
@media (max-width: 670px) {
  md-toolbar .menu {
    position: relative;
  }
  md-toolbar .menu ul {
    position: absolute;
    top: -10px;
    right: 0px;
    height: 1.0em;
    overflow: hidden;
    z-index: 10;
    background-color: #00c4a3;
  }
  md-toolbar .menu ul.mon {
    height: auto;
  }
  md-toolbar .menu ul.mon li {
    border-bottom: 1px solid #333333;
  }
  md-toolbar .menu ul.mon li:first-child {
    border-bottom: 0;
  }
  md-toolbar .menu ul.mon li:last-child {
    margin-bottom: 0;
  }
  md-toolbar .menu ul li {
    display: block;
    text-align: right;
    margin: 0;
    padding: 20px 25px;
  }
  md-toolbar .menu ul li.mobile {
    display: block;
    margin: 0;
    padding: 0 25px;
  }
  md-toolbar .menu ul li:after {
    content: "";
    padding: 0 0 0 0;
  }
  #HomePage md-card.full img.main {
    display: none;
  }
  #HomePage md-card.full img.mobile {
    display: block;
  }
}
