body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  background-color: #f6f6f6;
  color: #333333;
}
a {
  text-decoration: none;
  color: #4285f4;
}
a:hover {
  text-decoration: underline;
}
.clearfix {
  clear: both;
}
hr {
  border: 0;
  border-bottom: 1px solid #999999;
  margin: 30px 0;
}
md-toolbar {
  background-color: #e6e6e6;
}
md-toolbar .site-name {
  font-family: 'VT323', cursive;
  font-size: 2.3rem;
}
md-toolbar .site-name:nth-child(2) {
  padding-bottom: 5px;
}
md-toolbar .site-name img {
  width: 48px;
  display: block;
}
md-card {
  background-color: #ffffff;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}
md-card > h2,
md-card h3 {
  margin: 0 0 20px 0;
}
md-card form .inputs {
  font-size: 130%;
}
md-card form .form-error {
  margin: 10px 0;
  color: #dd1144;
  text-align: center;
}
md-card form .error {
  font-size: 65%;
  font-style: italic;
  color: #dd1144;
  display: block;
  margin-top: -5px;
}
md-card form .submit {
  margin-top: 30px;
}
md-card form label sup {
  padding-left: 5px;
}
md-card form input {
  width: 80%;
}
md-card form input.hidden {
  display: none;
}
md-card.full {
  max-width: 1170px;
}
md-card.page {
  max-width: 840px;
}
md-card.side {
  width: 320px;
  max-width: 320px;
}
md-input-group.md-input-focused input,
md-input-group.md-input-focused textarea,
.md-input-group.md-input-focused input,
.md-input-group.md-input-focused textarea {
  border-color: #4285f4;
}
md-input-group.md-input-focused label,
.md-input-group.md-input-focused label {
  color: #4285f4;
}
md-button.highlight {
  color: #4285f4;
}
.buttons md-button {
  margin-left: 10px;
}
.buttons md-button:first-child {
  margin-left: 0;
}
.buttons md-button.extra {
  margin-left: 20px;
}
#HomePage md-card.full img.main {
  display: block;
  float: right;
  width: 600px;
  margin: 0 0 20px 20px;
  border: 1px solid #999999;
}
#HomePage md-card.full a.chrome {
  display: block;
  text-align: center;
  text-decoration: none;
}
#HomePage md-card.full a.chrome img {
  width: 300px;
}
#HomePage md-card.full h2 {
  font-size: 1.8rem;
}
#HomePage md-card.full h3 {
  font-weight: normal;
}
#HelpPage > div {
  max-width: 100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
#HelpPage .side ul {
  margin: 0;
  padding: 0 0 0 30px;
}
