<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Donate</h4>
</div>
<div class="modal-body">
  <i class="fa fa-rebel"></i>
  <p>
    Super Neutron Drive is made free of charge. If you would like to help fund the future development
    of the app, be a rebel and donate.
  </p>
  <p>
    Don't worry it's not a trap.
  </p>
  <ul>
    <li>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AZHVCYTBC6NH4" target="_blank">Donate via PayPal</a>
      <br><br>
    </li>
    <li>
      Bitcoin Donations: 19ebyHSU7pSoy4k5mH2J5RYbdzAuamwbxL<br><br>
      <img src="/img/bitcoin.png" alt="">
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-cancel" ng-click="cancel()" id="error-ok">OK</button>
</div>