<div ng-controller="SideCtrl" ng-click="hide_right();">
  <div class="menu">
    <div class="buttons">
      <button class="btn" ng-click="project_modal()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="tools">
      Projects
    </div>
  </div>
  <div id="projects">
    <div>
      <ul ng-repeat="project in projects" class="project {{ project.state }}" data-pid="{{ project.pid }}" data-type="{{ project.className() }}">
        <li>
          <a class="clickme rm" ng-click="remove_project(project)">&times;</a>
          <a class="psort" project-drag><i class="fa fa-sort"></i></a>
          <a class="prj" ng-click="project.list_dir()">
            <i class="{{ project.cls }}"></i>&nbsp;{{ project.name }}
          </a>
          <ul>
            <li class="dir" ng-repeat="entry in project.dirs" ng-include="'side-dirlisting.html'"></li>
            <li class="file" ng-repeat="file in project.files">
              <ng-include src="'side-file.html'"></ng-include>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
