{% extends "base.html" %}{% load ndrive %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div layout="horizontal" layout-align="center">
  <md-card>
    <h2>Password Reset</h2>
    <form action="{{ request.path }}" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="form-error">
        {{ form.non_field_errors.0 }}
      </div>
      {% endif %}
      <div class="row inputs">
        <md-input-group>
          <label for="id_username">Enter your username or e-mail</label>
          <md-input name="username" id="id_username" ng-model="user.username">
        </md-input-group>
        {% if form.username.errors %}
        <span class="error">{{ form.username.errors.0 }}</span>
        {% endif %}
      </div>
      <div class="row submit">
        <div>
          <md-button class="md-button-raised md-button-colored" type="submit">
            <i class="fa fa-caret-square-o-right"></i> Send Reset
          </md-button>
        </div>
      </div>
    </form>
  </md-card>
</div>
{% endblock %}
