<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Authenication Error</h4>
</div>
<div class="modal-body">
  <p>
    There was an authenication problem with your Google account.
  </p>
  <p>
    Reauthenicate and then retry your request.
  </p>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="reinit()">Reauthenicate</button>
  <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
</div>