{% extends "base.html" %}{% load static %}
{% block title %}Help{% endblock %}
{% block content %}
<div id="HelpPage">
  <div layout="horizontal" layout-align="center">
    <md-card class="page">
      <h2>Frequently Asked Questions</h2>
      <p>
        <strong>What do I need an account for?</strong>
        <br>
        <br>
        Right now, it is good for nothing! However, in the near future your account 
        will be used to setup and encrypt "Neutron Beam".
      </p>
    </md-card>
    <md-card class="side">
      <h3>Resources</h3>
      <ul>
        <li><a href="https://plus.google.com/communities/103400845906318724539">Help Forum</a></li>
      </ul>
    </md-card>
  </div>
</div>
{% endblock content %}